@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* font-family: 'Alata', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
* {
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    box-shadow:  34px 40px 12px rgb(0 0 0 / 20%)
}

p, a {
font-family: 'Alata', sans-serif; 
}

h1, h2, h3 {
font-family: 'Josefin Sans', sans-serif;
}

#section-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url(./images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding: 6rem;
}

.container {
    margin: 0 auto 0;
    max-width: 70rem;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar .brand-name {
    margin-right: auto;
}

.navbar .a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link {
    margin-left: auto;
}

.tagline-box {
    margin-top: 12rem;
    max-width: 40rem;
    height: 50%;
    border-style: solid;
    border-color: white;
    padding: 2rem;
}
.tagline-text {
    color: #f2f2f2;
    font-size: 5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-transform: uppercase;

}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black!important;
}

#section-2 {
    padding: 6rem;
}

.flex {
    display: flex;
}

.about-img-box {
    max-width: 40rem;
    min-width: 35rem;
    height: auto;
}
.about-img {
    max-width: 100%;
    height: auto;
}

.about-text {
    background-color: white;
    align-self: flex-end;
    max-width: 30rem;
    padding: 4rem 5rem 0;
    margin-left: -5rem;
}

.about-text h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
}
.about-text p {
    color: gray;
}

#section-3 {
    padding: 6rem;
}
.grid {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas: 
    'creation button'
    'album album';
}

.grid .button {
    justify-self: right;
    align-self: center;
}

.grid .button button {
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    background: none;
    padding: 0.5rem 2rem;
}

.grid h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.grid .album {
    grid-area: album;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.album figure {
    position: relative;
}

figure figcaption {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    color: #f2f2f2;
    bottom: 1.7rem;
    left: 1rem;
}

footer {
    background-color: black;
    color: #f2f2f2;
    padding: 2.5rem 0 0;
}

.grid-footer {
    display: grid;
    grid-template-areas: 
    'brand-name social-media-logo'
    'nav-link reserved'
    'attribution attribution';
}

.grid-footer .nav-link a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.grid-footer .brand-name {
    grid-area: brand-name;
    text-align: left;
}
.grid-footer .social-media-logo {
    grid-area: social-media-logo;
    display: flex;
    gap: 1rem;
    justify-content: end;
    
}
.grid-footer .nav-link {
    grid-area: nav-link;
    margin-left: 0;
}
.grid-footer .all-right-reserved {
    grid-area: reserved;
    text-align: right;
    align-self: center;
}

.grid-footer .attribution {
    grid-area: attribution;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.attribution a {
    color: #f2f2f2;
    text-decoration: none;
}